<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <link rel="stylesheet" href="style.css">
    <meta charset="utf-8">
    <title>Angular</title>
  </head>
  <body ng-app="firstApp">
      <div ng-controller="Pong">
        <div id="blue" ng-click="pong.score1()" ng-class='{ green: pong.player1Score >= 11, red: pong.player2Score >= 11 }'>
          <h2>Player 1</h2>
            <h1> {{pong.player1score}} </h1>
            <br>
            <span ng-show=pong.show1>Serving</span>
        </div>

      <div id="blue" ng-click="pong.score2()" ng-class='{ green: pong.player1Score >= 11, red: pong.player2Score >= 11 }'>
        <h2>Player 2 </h2>
          <h1> {{pong.player2score}} </h1>
          <br>
          <span ng-show=pong.show2>Serving</span>
      </div>

    <button ng-click="ResetScore()" type="button" name="button">Reset</button>
  </div>





<br><br>
    <div ng-controller="ExercisesController">
        ZZ Favorite color: {{Favcolor}}
        <h3>Seconds in a Century: {{secondsInACentury | number }}</h3>
        {{rightNow | date}}
        <h3>The number is: {{number}}</h3>
        <button ng-click="pickRandomNumber()">Pick Random Number</button>
      <h2>Reverse Word!</h2>
        <input type="text" ng-model="aString">
        The word is: {{ aString }}
        <button type="submit" ng-click="reverseWord()">Reverse It!</button>
    </div>



  </body>
</html>
